body{
  background-color: rosybrown;
}
hr{
  border-color: black;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 20%;

}
h1{
  color: #3330E4
}
h2{
  color: #3330E4
}
h3{
  color: #3330E4
}
