/*************************************TAG SELECTORS***************************************************/
body{
  background-color: rosybrown;
}
hr{
  border-color: black;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 20%;

}
h1{
  color: #3330E4; font-size : 80px;
}
h2{
  color: red;
}
h3{
  color: red;
}
img:hover{
  background-color: gold;
}
/************************************CLASS SELECTOR******************************************************/
.plant{
  background-color: red;
}

.cooking{
  background-color: blue;
}
.circular{
  border-radius: 100%;
}
.anjali{
  border-radius: 100%;
}

/**************************************ID SELECTOR******************************************************/

#heading{
  color: yellow;
}
